@model POS.Models.Empleado

<div class="card mt-4 shadow-sm">
    <div class="card-header" style="background-color: #dc3545; color: #ffffff;">
        <h4 class="mb-0">Eliminar Empleado</h4>
    </div>
    <div class="card-body">
        <h5>¿Está seguro de que desea eliminar este empleado?</h5>
        <dl class="row mt-3">
            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>
            <dt class="col-sm-3">Apellido</dt>
            <dd class="col-sm-9">@Model.Apellido</dd>
            <dt class="col-sm-3">DPI</dt>
            <dd class="col-sm-9">@Model.DPI</dd>
            <dt class="col-sm-3">Cargo</dt>
            <dd class="col-sm-9">@Model.Cargo</dd>
        </dl>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
